<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="top-nav-wrap">
          <ul>
            <li [routerLink]="['login']" routerLinkActive="active"><a>Авторизация</a></li>
            <li [routerLink]="['registration']"><a>Регистрация</a></li>
            <li (click)="goToProducts()"><a>Продукты</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="header-wrap">
      <div class="row">
        <div class="col-lg-3">
          <div class="logo" #logo_container>
<!--            <ng-content select="img"></ng-content>-->
            <img [src]="logo" alt="logo">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="search">
            <input class="search__input"
                   placeholder="Более 1000 товаров"
                   type="text"
                   #inputEl
                   (input)="search($event)"
            >
            <button class="search__button"><i class="fas fa-search"></i>
            </button>
          </div>
        </div>
        <div class="col-lg-3 d-flex justify-content-end">
          <app-cart></app-cart>
        </div>
      </div>
    </div>
  </div>
</header>
