<app-header [logo]="logo" (onSearch)="searchText = $event">
  <ng-template #site_logo>
    <img [src]="logo" class="logo" alt="logo">
  </ng-template>
</app-header>

<router-outlet></router-outlet>


<!--<ng-container *ngFor="let type of hotels | makeMenu">-->
<!--  <li>{{type}}</li>-->
<!--</ng-container>-->


<!--<ng-container *ngIf="products$ | async as products; else loading">-->
<!--  <ng-container *ngFor="let product of products; index as i">-->
<!--   <p> {{i+1}}. {{product.author}}</p>-->
<!--  </ng-container>-->
<!--</ng-container>-->


<!--<div [innerHTML]="getSafeHtml()"></div>-->



