<section class="main registration">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="registration-wrapper">
          <h1>Авторизация</h1>
          <form #f="ngForm">
            <label class="input-wrapper " [ngClass]="{'no-valid': c.invalid }">
              <span>Ваше имя</span>
              <input type="text"
                     name="firstName"
                     ngModel
                     #c="ngModel"
                     required minlength="5"
                     appNameValidator
              >
              <div class="valid-message">{{c.errors | json}}</div>
            </label>
            <label class="input-wrapper">
              <span>Пароль</span>
              <input type="password" ngModel name="password">
            </label>
            <div class="btn-wrapper">
              <button>Зарегистрироваться</button>
            </div>
          </form>
          <pre>{{f.valueChanges | async | json }}</pre>
        </div>
      </div>
    </div>
  </div>
</section>
