<section class="main registration">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="registration-wrapper">
          <h1>Регистрация</h1>
          <form  [formGroup]="signUpForm" >
            <label class="input-wrapper" [ngClass]="{' no-valid': signUpForm.get('firstName').invalid}" >
              <span>Ваше имя</span>
              <input type="text" formControlName="firstName" >
              {{signUpForm.controls.firstName.errors | json}}
              <div class="valid-message">{{signUpForm.get('firstName').errors | json}}</div>
            </label>
            <div formGroupName="emails">
              <span (click)="addEmail()">Add Email</span>
              <label class="input-wrapper" *ngFor="let e of signUpForm.get('emails').controls; index as i">
                <span (click)="removeEmail(i)">X</span>
                <input type="text" [formControlName]="i">
              </label>
            </div>
            <label class="input-wrapper">
              <span>Ваши Email</span>
              <input type="text" >
            </label>
            <div formGroupName="passwordGroup">
              <label class="input-wrapper">
                <span>Пароль</span>
                <input type="password" formControlName="password">
              </label>
              <label class="input-wrapper">
                <span>Повторить пароль</span>
                <input type="password" formControlName="cpassword">
              </label>
            </div>

            <div class="btn-wrapper">
              <button>Зарегистрироваться</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <pre>{{signUpForm.valueChanges | async | json}}</pre>
</section>

